@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

html {
  color-scheme: light !important;
  background-color: #ffffff !important;
}

body {
  background-color: #ffffff !important;
  color: #171717 !important;
  font-family: Arial, Helvetica, sans-serif;
}
